@mixin uthsc-background-stripe {
  .background-stripe {
    .callout {
      background-color: rgba(225,225,225,.90);
      &.secondary {
        background-color: rgba(213,243,255,.90);
      }
      &.warning {
        background-color: rgba(255,243,217,.90);
      }
    }
  }
}