////
/// @group page opening
////

/// Adds styles for a top bar container.
@mixin uthsc-page-opening {
  .uthsc-page-opening {
    text-align:center;

    .uthsc-page-intro {
      color: #006a4d;
      font-size: 1.2em;
      font-weight: 600;
      line-height: inherit;
      font-style: normal;
      padding: .5rem;
      margin-bottom: 0;
      font-family: "Open Sans", sans-serif;

      @include breakpoint(medium up) {
        font-size: 1.5em;
        padding: 1rem;
      }
    }

    .uthsc-page-lead {
      color: #777;
      font-size: 1.1em;
      padding:1rem;
      line-height: 1.4em;

      @include breakpoint(medium up) {
        line-height: 1.6em;
      }
    }
  }
}